{% extends 'index.html' %} 
{% load static %} 
{% load bootstrap5 %} 

{% block content %}

<div class="container">
  <div class="row">
    <div 
      class="col-sm-4" 
      style="
        width: 100%; 
        margin: auto">
      <img
        style="width: 100%"
        src="{% static 'tsplogo.png' %}"
        alt="logo"/>
    </div>
    <div
      class="col-sm-6"
      style="
        width: 100%; 
        margin: auto; 
        margin-top: 5rem; 
        padding: 3rem">
      <h2 
        style="
          font-family: 'Montserrat', sans-serif; 
          font-weight: 300">
        Change Your Email
      </h2>
      <div 
        class="account-messages">
        <form method="post">
          {% csrf_token %} 
          {% bootstrap_form form %}
          <button 
            type="submit" 
            class="btn btn-secondary">
          Update
        </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
